html{
    font-size: 10px;
    font-family: 'Open Sans',sans-serif;
    background-color: aqua;
}

body{
    width: 600px;
    margin: 0 auto;
    background-color: steelblue;
    border: 5px solid greenyellow;
    padding: 0 20px 20px 20px;
}

h1{
    margin: 0;
    padding: 20px 0;
    text-shadow: 3px 3px 1px black;
    color: aqua;
    font-size: 60px;
    text-align: center;
}



button{
    display: flex;
    flex: 1 1 100px;
}
